<%= stylesheet_link_tag 'chatroom_index' %>
<div class="page-content">
  <div class="main-content"> <!--main-content-->
    <div class="row">
      <div class="col-md-12">
        <% @categories.each do |sub_categories| %>
          <div class="row panel-box" >
            <% sub_categories.each do |category| %>
              <div class="col-md-3">
                <div class="panel panel-warning" >
                  <div class="panel-heading ">
                    <h3 class="panel-title" ><%= category.name %></h3>
                    <span class="pull-right clickable"><i class="fas fa-sort fa-lg"></i></span>
                  </div>
                  <ul class="panel-body list-group" style="display: block;">
                    <% category.children.each do |sub_category| %>
                      <li class="list-group-item clickable">
                        <%= link_to sub_category.name, root_path(category_id: sub_category.id) %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class=""><!--樹狀圖 保留空間-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= yield %>
    </div>
  </div>
</div>
<script type="text/javascript">
  // JavaScript Document
  $(document).on('click', '.panel-heading span.clickable', function (e) {
      var $this = $(this);
      if (!$this.hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.panel-body').slideUp();
          $this.addClass('panel-collapsed');
      } else {
          $this.parents('.panel').find('.panel-body').slideDown();
          $this.removeClass('panel-collapsed');
      }
  });
  $(document).on('click', '.panel div.clickable', function (e) {
      var $this = $(this);
      if (!$this.hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.panel-body').slideUp();
          $this.addClass('panel-collapsed');
      } else {
          $this.parents('.panel').find('.panel-body').slideDown();
          $this.removeClass('panel-collapsed');
      }
  });
  $(document).on('turbolinks:load',function () {
      //$('.panel-heading span.clickable').click();
      //$('.panel div.clickable').click();
  });
</script>